/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */



@import "bootstrap.css";
/* line 1, /Users/annehomann/Projects/project_01/Relove_me/relove_me/app/assets/stylesheets/pages.css.scss */
html {
  background: url("/images/gs_back.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 9, /Users/annehomann/Projects/project_01/Relove_me/relove_me/app/assets/stylesheets/pages.css.scss */
h1 {
  padding-left: 1.3em;
}

/* line 13, /Users/annehomann/Projects/project_01/Relove_me/relove_me/app/assets/stylesheets/pages.css.scss */
nav {
  background-color: white;
  padding: 1em;
}

/* line 18, /Users/annehomann/Projects/project_01/Relove_me/relove_me/app/assets/stylesheets/pages.css.scss */
nav ul {
  list-style: black;
}

/* line 22, /Users/annehomann/Projects/project_01/Relove_me/relove_me/app/assets/stylesheets/pages.css.scss */
nav ul li {
  display: inline;
  margin-left: 1em;
}

/* line 27, /Users/annehomann/Projects/project_01/Relove_me/relove_me/app/assets/stylesheets/pages.css.scss */
nav ul li a {
  color: black;
  text-decoration: none;
  margin: 30px;
  font-style: bold;
}

/* line 34, /Users/annehomann/Projects/project_01/Relove_me/relove_me/app/assets/stylesheets/pages.css.scss */
nav ul li a:hover {
  text-shadow: 0 0 5px red;
}

/* line 38, /Users/annehomann/Projects/project_01/Relove_me/relove_me/app/assets/stylesheets/pages.css.scss */
.signup input {
  display: block;
}
