<h1>Search for a garage sale by suburb</h1>

<div id="search">
  <form action="<%= search_path %>" method="post">
    <p>Location: <input type="text" name="sale[location]" value="<%= @sale.location %>"></p>
    <button>Search</button>
  </form>
</div>


